
<div class=" rounded p-4" style="background-color: rgba(240, 248, 255, 0.4);overflow: scroll;">
{% for obj in obj %}  
<table class="w-100 mt-4">
   
    <tr class="">
        <th >Name</th>
        <th>Email Add</th>
        <th>Contact No.</th>
        <th>Location</th>
    </tr>
    <tr class="py-3 down">
        <th >{{ obj.name }}</th>
        <th>{{ obj.mail }}</th>
        <th>{{ obj.phone }}</th>
        <th>{{ obj.location }}</th>
    </tr>
</table>

<table class="w-100 my-4">
    <tr class="">
        <th >Domain By</th>
        <th>Domain Name</th>
        <th>Purchase Date</th>
        <th>Expiry Date</th>
    </tr>
    <tr class="py-3 down">
        <th >{{ obj.domain }}</th>
        <th>{{ obj.domainname }}</th>
        <th>{{ obj.domainpurchase }}</th>
        <th>{{ obj.domainexpiry }}</th>
    </tr>
</table>

<table class="w-100 my-4">
    <tr class="">
        <th >Host by</th>
        <th>Purchase date</th>
        <th>Expiry Date</th>
    </tr>
    <tr class="py-3 down">
        <th >{{ obj.host }}</th>
        <th>{{ obj.hostpurchase }}</th>
        <th>{{ obj.hostexpiry }}</th>
    </tr>
</table>

<table class="w-100 mt-2 my-4">
    <tr class="">
        <th >Email</th>
        <th>Email Provider</th>
        <th>Email Type</th>
        <th>Purchase date</th>
        <th>Expiry Date</th>
    </tr>
    <tr class="py-3 down">
        <th >{{ obj.email }}</th>
        <th>{{ obj.emailcompany }}</th>
        <th>{{ obj.emailtype }}</th>
        <th>{{ obj.emailpurchase }}</th>
        <th>{{ obj.emailexpiry }}</th>
    </tr>
</table>
{% endfor %}
</div>
