<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Urbanist">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous"
        />
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"
    ></script>
    <script
        src="{% static 'jquery-3.6.4.min.js' %}"
    ></script>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<style>
    .textfo:nth-child(odd) {
            background-color: rgb(223, 223, 223);
        }
    th{
        font-weight: 700
    }
</style>
<body>
    <nav class="sidebar vh-100" style="background-color: #139f95;">
        <center class="">
            <img src="{% static 'ttslogo.jpg' %}" width="55%%" class="rounded m-auto">
        </center><hr/>
        <div class="mt-3 d-block">
            
            <a href="/dashboard" class="text-decoration-none"><p class="nav-btn mx-2 ">
                <i class="fa fa-tachometer px-2" aria-hidden="true"></i><span class="hide">Dashboard</span>
            </p></a>

            <a href="/lists" class="text-decoration-none"><p class="nav-btn mx-2 ">
                <i class="fa fa-th-list px-2" aria-hidden="true"></i><span class="hide">Lists</span>
            </p></a>

            <a href="/form" class="text-decoration-none"><p class="nav-btn mx-2 ">
                <i class="fa fa-user-plus px-2" aria-hidden="true"></i><span class="hide">Add Client</span>
            </p></a>

        </div>
        <a href="/logout" class="outbtn btn-danger p-2 fw-medium  text-center text-decoration-none fw-medium text-dark"  
        style="font-size: small;bottom: 0px;position: fixed; background-color: #fecc00;">
        <i class="fa fa-sign-out pe-1" aria-hidden="true"></i><span class="hide">logout</span></a>

    </nav>
    <main class="vh-100" style="background-color: rgba(186, 202, 217, 0.1);">
        <h1 class="p-2 fw-bolder" style="color: #139f95;">Welcome to Total Technical Solution</h1>
            
                

        <!-- <h1 class="p-3 fs-4" style="color: #2584ce;">Dashboard</h1> -->

        <div class="d-flex justify-content-between mx-5 my-3 px-4" >
            <div class="input-group w-100">
                <form action="#" method="post" class="d-flex w-100">
                    {% csrf_token %}
                  <input type="search" id="form1" name="q" class="form-control" placeholder="Search" />
                
                  
                
                    <button type="submit" class="btn" style="background-color: #139f95;">
                    <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>

        </div>

        <div style="max-height: 500px; background-color: rgba(15, 136, 136, 0.439);overflow: scroll;" class="table rounded shadow">
            <table class=" w-100" style="text-align: left;background-color: rgb(255, 255, 255);height: 50px;">
                <tr class="pb-4 mx-3 " style="border-bottom: 1px solid rgba(33, 42, 65, 0.622); background-color: #2584ce; ">
                    <th >Name</th>
                    <th>Domain Name</th>
                    <th>Contact No.</th>
                    <th>Action</th>
                    <th>Operation</th>
                </tr>
        
                {% for row in props %}
                <tr style="height: 40px;border: 0px;" class="textfo">
                    <th>{{ row.name }}</th>
                    <th><a href='//{{ row.domainname }}' >{{ row.domainname }}</a></th>
                    <th>{{ row.phone }}</th>
                    <th><button class="btn" 
                        style="font-family: Arial, Helvetica, sans-serif;font-weight: 200;font-size: 15px;padding: 0%;color: #013761;" 
                        onclick=show({{row.id}})>View Details</button></th>
                    <th class="expiry " style="padding-inline-start: 2%;" ><button class="btn" 
                        style="font-family: Arial, Helvetica, sans-serif;font-weight: 200;font-size: 15px;padding: 0%;" 
                        ><a href='edit?id={{ row.id }}' class="text-decoration-none" style="color: #013761;">Edit</a></button>
                    <button class="ms-4 btn p-0 px-2"><a href="/delete/{{ row.id }}" class="text-decoration-none text-danger">
                        <i class="fa fa-trash " ></i></a></button></th>
                </tr>
                
                {% endfor %}
            </table>
            </div>
     
    </main>
    <div id="info-tab" style="width:75%;position: fixed;height: 500px;display: none;
   background-image: linear-gradient(to right bottom, rgb(19,159,149), rgb(254,204,0));
    overflow: scroll;
    top: 15%;left: 12.5%;backdrop-filter: blur(5px);" class="rounded m-auto shadow">
    <div class="p-3">
        <div id="detail">

        </div>  
    <button class="close-btn btn " 
    onclick="show()" style="font-size: 18px;">Close</button>>

    </div>

    </div>
    
</body>
</html>
<script>
    
    
    function show(id){
        let link = 'back?obj='+id;
        console.log(link)
        $.ajax({
            url : link,
            success : function(data){
                $('#detail').html(data);
            }
        });
        const temp = document.getElementById('info-tab');
        if(temp.style.display == 'block'){
            temp.style.display = 'none'
        }
        else{
            temp.style.display = 'block'
        }
    }

    function edit(id){
        console.log(id)
    }
</script>