<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link href="{% static 'style.css' %}" rel="stylesheet"
    type="text/css" >
</head>
<body>
    <nav class="sidebar">
        <h1>Hello 1</h1>
        <h1>Hello 1</h1>
        <h1>Hello 1</h1>
    </nav>
    <main class="main-content">
        <h1>Hello</h1>
    </main>
    
    
</body>
</html>